@keyframes animTitle {
    0% {
        opacity: 0;
        font-size: 0.5rem;
        transform: translateY(-3rem);
    }

    100% {
        opacity: 1;
        font-size: 9rem;
        transform: translateY(0)
    }
}

@keyframes delay {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}